## OneHotEncode Columns with Nominal Values (train)
- this notebook goes second.

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split, GridSearchCV 
from sklearn.linear_model import LinearRegression 
from sklearn.preprocessing import StandardScaler

In [2]:
ames_train = pd.read_csv('./datasets/train.csv')
ames_test = pd.read_csv('./datasets/test.csv')
ames_train

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,1587,921126030,20,RL,79.0,11449,Pave,NaN,IR1,HLS,...,0,0,NaN,NaN,NaN,0,1,2008,WD,298751
2047,785,905377130,30,RL,NaN,12342,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2009,WD,82500
2048,916,909253010,50,RL,57.0,7558,Pave,NaN,Reg,Bnk,...,0,0,NaN,NaN,NaN,0,3,2009,WD,177000
2049,639,535179160,20,RL,80.0,10400,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,11,2009,WD,144000
2050,10,527162130,60,RL,60.0,7500,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,6,2010,WD,189000

In [3]:
ames_test

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,1662,527377110,60,RL,80.0,8000,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,11,2007,WD
874,1234,535126140,60,RL,90.0,14670,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,MnPrv,NaN,0,8,2008,WD
875,1373,904100040,20,RL,55.0,8250,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2008,WD
876,1672,527425140,20,RL,60.0,9000,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,GdWo,NaN,0,5,2007,WD
877,1939,535327160,20,RL,70.0,8400,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,GdWo,NaN,0,3,2007,WD

In [4]:
ames_train.shape

(2051, 81)

In [5]:
ames_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               2051 non-null   int64
 1   PID              2051 non-null   int64
 2   MS SubClass      2051 non-null   int64
 3   MS Zoning        2051 non-null   object
 4   Lot Frontage     1721 non-null   float64
 5   Lot Area         2051 non-null   int64
 6   Street           2051 non-null   object
 7   Alley            140 non-null    object
 8   Lot Shape        2051 non-null   object
 9   Land Contour     2051 non-null   object
 10  Utilities        2051 non-null   object
 11  Lot Config       2051 non-null   object
 12  Land Slope       2051 non-null   object
 13  Neighborhood     2051 non-null   object
 14  Condition 1      2051 non-null   object
 15  Condition 2      2051 non-null   object
 16  Bldg Type        2051 non-null   object
 17  House Style      2051 non-null   object
 18  Overall Qual     2051 non-null   int64
 19  Overall Cond     2051 non-null   int64
 20  Year Built       2051 non-null   int64
 21  Year Remod/Add   2051 non-null   int64
 22  Roof Style       2051 non-null   object
 23  Roof Matl        2051 non-null   object
 24  Exterior 1st     2051 non-null   object
 25  Exterior 2nd     2051 non-null   object
 26  Mas Vnr Type     2029 non-null   object
 27  Mas Vnr Area     2029 non-null   float64
 28  Exter Qual       2051 non-null   object
 29  Exter Cond       2051 non-null   object
 30  Foundation       2051 non-null   object
 31  Bsmt Qual        1996 non-null   object
 32  Bsmt Cond        1996 non-null   object
 33  Bsmt Exposure    1993 non-null   object
 34  BsmtFin Type 1   1996 non-null   object
 35  BsmtFin SF 1     2050 non-null   float64
 36  BsmtFin Type 2   1995 non-null   object
 37  BsmtFin SF 2     2050 non-null   float64
 38  Bsmt Unf SF      2050 non-null   float64
 39  Total Bsmt SF    2050 non-null   float64
 40  Heating          2051 non-null   object
 41  Heating QC       2051 non-null   object
 42  Central Air      2051 non-null   object
 43  Electrical       2051 non-null   object
 44  1st Flr SF       2051 non-null   int64
 45  2nd Flr SF       2051 non-null   int64
 46  Low Qual Fin SF  2051 non-null   int64
 47  Gr Liv Area      2051 non-null   int64
 48  Bsmt Full Bath   2049 non-null   float64
 49  Bsmt Half Bath   2049 non-null   float64
 50  Full Bath        2051 non-null   int64
 51  Half Bath        2051 non-null   int64
 52  Bedroom AbvGr    2051 non-null   int64
 53  Kitchen AbvGr    2051 non-null   int64
 54  Kitchen Qual     2051 non-null   object
 55  TotRms AbvGrd    2051 non-null   int64
 56  Functional       2051 non-null   object
 57  Fireplaces       2051 non-null   int64
 58  Fireplace Qu     1051 non-null   object
 59  Garage Type      1938 non-null   object
 60  Garage Yr Blt    1937 non-null   float64
 61  Garage Finish    1937 non-null   object
 62  Garage Cars      2050 non-null   float64
 63  Garage Area      2050 non-null   float64
 64  Garage Qual      1937 non-null   object
 65  Garage Cond      1937 non-null   object
 66  Paved Drive      2051 non-null   object
 67  Wood Deck SF     2051 non-null   int64
 68  Open Porch SF    2051 non-null   int64
 69  Enclosed Porch   2051 non-null   int64
 70  3Ssn Porch       2051 non-null   int64
 71  Screen Porch     2051 non-null   int64
 72  Pool Area        2051 non-null   int64
 73  Pool QC          9 non-null      object
 74  Fence            400 non-null    object
 75  Misc Feature     65 non-null     object
 76  Misc Val         2051 non-null   int64
 77  Mo Sold          2051 non-null   int64
 78  Yr Sold          2051 non-null   int64
 79  Sale Type        2051 non-null   object
 80  SalePrice        2051 non-null   int64
dtypes: float64(11), int64(28), object(42)
memory usage: 1.3+ MB

In [6]:
ames_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 80 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               878 non-null    int64
 1   PID              878 non-null    int64
 2   MS SubClass      878 non-null    int64
 3   MS Zoning        878 non-null    object
 4   Lot Frontage     718 non-null    float64
 5   Lot Area         878 non-null    int64
 6   Street           878 non-null    object
 7   Alley            58 non-null     object
 8   Lot Shape        878 non-null    object
 9   Land Contour     878 non-null    object
 10  Utilities        878 non-null    object
 11  Lot Config       878 non-null    object
 12  Land Slope       878 non-null    object
 13  Neighborhood     878 non-null    object
 14  Condition 1      878 non-null    object
 15  Condition 2      878 non-null    object
 16  Bldg Type        878 non-null    object
 17  House Style      878 non-null    object
 18  Overall Qual     878 non-null    int64
 19  Overall Cond     878 non-null    int64
 20  Year Built       878 non-null    int64
 21  Year Remod/Add   878 non-null    int64
 22  Roof Style       878 non-null    object
 23  Roof Matl        878 non-null    object
 24  Exterior 1st     878 non-null    object
 25  Exterior 2nd     878 non-null    object
 26  Mas Vnr Type     877 non-null    object
 27  Mas Vnr Area     877 non-null    float64
 28  Exter Qual       878 non-null    object
 29  Exter Cond       878 non-null    object
 30  Foundation       878 non-null    object
 31  Bsmt Qual        853 non-null    object
 32  Bsmt Cond        853 non-null    object
 33  Bsmt Exposure    853 non-null    object
 34  BsmtFin Type 1   853 non-null    object
 35  BsmtFin SF 1     878 non-null    int64
 36  BsmtFin Type 2   853 non-null    object
 37  BsmtFin SF 2     878 non-null    int64
 38  Bsmt Unf SF      878 non-null    int64
 39  Total Bsmt SF    878 non-null    int64
 40  Heating          878 non-null    object
 41  Heating QC       878 non-null    object
 42  Central Air      878 non-null    object
 43  Electrical       877 non-null    object
 44  1st Flr SF       878 non-null    int64
 45  2nd Flr SF       878 non-null    int64
 46  Low Qual Fin SF  878 non-null    int64
 47  Gr Liv Area      878 non-null    int64
 48  Bsmt Full Bath   878 non-null    int64
 49  Bsmt Half Bath   878 non-null    int64
 50  Full Bath        878 non-null    int64
 51  Half Bath        878 non-null    int64
 52  Bedroom AbvGr    878 non-null    int64
 53  Kitchen AbvGr    878 non-null    int64
 54  Kitchen Qual     878 non-null    object
 55  TotRms AbvGrd    878 non-null    int64
 56  Functional       878 non-null    object
 57  Fireplaces       878 non-null    int64
 58  Fireplace Qu     456 non-null    object
 59  Garage Type      834 non-null    object
 60  Garage Yr Blt    833 non-null    float64
 61  Garage Finish    833 non-null    object
 62  Garage Cars      878 non-null    int64
 63  Garage Area      878 non-null    int64
 64  Garage Qual      833 non-null    object
 65  Garage Cond      833 non-null    object
 66  Paved Drive      878 non-null    object
 67  Wood Deck SF     878 non-null    int64
 68  Open Porch SF    878 non-null    int64
 69  Enclosed Porch   878 non-null    int64
 70  3Ssn Porch       878 non-null    int64
 71  Screen Porch     878 non-null    int64
 72  Pool Area        878 non-null    int64
 73  Pool QC          4 non-null      object
 74  Fence            172 non-null    object
 75  Misc Feature     41 non-null     object
 76  Misc Val         878 non-null    int64
 77  Mo Sold          878 non-null    int64
 78  Yr Sold          878 non-null    int64
 79  Sale Type        878 non-null    object
dtypes: float64(3), int64(35), object(42)
memory usage: 548.9+ KB

In [7]:
# create df with only columns that have nominal values 
nominal_train = pd.DataFrame(ames_train, columns=['MS SubClass', 'MS Zoning', 'Street', 'Alley', 'Land Contour',
                                                     'Lot Config', 'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type', 'House Style', 
                                                     'Roof Style', 'Roof Matl', 'Exterior 1', 'Exterior 2', 'Mas Vnr Type', 'Foundation', 
                                                     'Heating', 'Central Air', 'Garage Type', 'Misc Feature', 'Sale Type', 'Sale Condition'])

In [8]:
nominal_test = pd.DataFrame(ames_test, columns=['MS SubClass', 'MS Zoning', 'Street', 'Alley', 'Land Contour',
                                                     'Lot Config', 'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type', 'House Style', 
                                                     'Roof Style', 'Roof Matl', 'Exterior 1', 'Exterior 2', 'Mas Vnr Type', 'Foundation', 
                                                     'Heating', 'Central Air', 'Garage Type', 'Misc Feature', 'Sale Type', 'Sale Condition'])

In [9]:
nominal_train

,MS SubClass,MS Zoning,Street,Alley,Land Contour,Lot Config,Neighborhood,Condition 1,Condition 2,Bldg Type,...,Exterior 1,Exterior 2,Mas Vnr Type,Foundation,Heating,Central Air,Garage Type,Misc Feature,Sale Type,Sale Condition
0,60,RL,Pave,NaN,Lvl,CulDSac,Sawyer,RRAe,Norm,1Fam,...,NaN,NaN,BrkFace,CBlock,GasA,Y,Attchd,NaN,WD,NaN
1,60,RL,Pave,NaN,Lvl,CulDSac,SawyerW,Norm,Norm,1Fam,...,NaN,NaN,BrkFace,PConc,GasA,Y,Attchd,NaN,WD,NaN
2,20,RL,Pave,NaN,Lvl,Inside,NAmes,Norm,Norm,1Fam,...,NaN,NaN,None,CBlock,GasA,Y,Detchd,NaN,WD,NaN
3,60,RL,Pave,NaN,Lvl,Inside,Timber,Norm,Norm,1Fam,...,NaN,NaN,None,PConc,GasA,Y,BuiltIn,NaN,WD,NaN
4,50,RL,Pave,NaN,Lvl,Inside,SawyerW,Norm,Norm,1Fam,...,NaN,NaN,None,PConc,GasA,Y,Detchd,NaN,WD,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,20,RL,Pave,NaN,HLS,Inside,Timber,Norm,Norm,1Fam,...,NaN,NaN,None,PConc,GasA,Y,Attchd,NaN,WD,NaN
2047,30,RL,Pave,NaN,Lvl,Inside,Edwards,Norm,Norm,1Fam,...,NaN,NaN,None,CBlock,GasA,Y,Detchd,NaN,WD,NaN
2048,50,RL,Pave,NaN,Bnk,Inside,Crawfor,Norm,Norm,1Fam,...,NaN,NaN,None,BrkTil,GasA,Y,Detchd,NaN,WD,NaN
2049,20,RL,Pave,NaN,Lvl,Corner,NAmes,Norm,Norm,1Fam,...,NaN,NaN,None,CBlock,GasA,Y,Attchd,NaN,WD,NaN
2050,60,RL,Pave,NaN,Lvl,Inside,Gilbert,Norm,Norm,1Fam,...,NaN,NaN,None,PConc,GasA,Y,Attchd,NaN,WD,NaN

In [10]:
nominal_test

,MS SubClass,MS Zoning,Street,Alley,Land Contour,Lot Config,Neighborhood,Condition 1,Condition 2,Bldg Type,...,Exterior 1,Exterior 2,Mas Vnr Type,Foundation,Heating,Central Air,Garage Type,Misc Feature,Sale Type,Sale Condition
0,190,RM,Pave,Grvl,Lvl,Inside,OldTown,Norm,Norm,2fmCon,...,NaN,NaN,None,Stone,GasA,N,Detchd,NaN,WD,NaN
1,90,RL,Pave,NaN,Lvl,Inside,Sawyer,Norm,Norm,Duplex,...,NaN,NaN,None,CBlock,GasA,Y,Attchd,NaN,WD,NaN
2,60,RL,Pave,NaN,Lvl,Inside,Gilbert,Norm,Norm,1Fam,...,NaN,NaN,None,PConc,GasA,Y,Attchd,NaN,New,NaN
3,30,RM,Pave,NaN,Lvl,Inside,OldTown,Norm,Norm,1Fam,...,NaN,NaN,None,CBlock,GasA,Y,Detchd,NaN,WD,NaN
4,20,RL,Pave,NaN,Lvl,Inside,NAmes,Norm,Norm,1Fam,...,NaN,NaN,BrkFace,CBlock,GasA,Y,Attchd,NaN,WD,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,60,RL,Pave,NaN,Lvl,Inside,NWAmes,PosN,Norm,1Fam,...,NaN,NaN,None,CBlock,GasA,Y,Attchd,NaN,WD,NaN
874,60,RL,Pave,NaN,Lvl,Inside,NAmes,Norm,Norm,1Fam,...,NaN,NaN,BrkFace,CBlock,GasA,Y,Attchd,NaN,WD,NaN
875,20,RL,Pave,NaN,Lvl,Inside,Sawyer,Feedr,Norm,1Fam,...,NaN,NaN,None,CBlock,GasA,Y,Attchd,NaN,WD,NaN
876,20,RL,Pave,NaN,Lvl,FR2,NAmes,Norm,Norm,1Fam,...,NaN,NaN,None,PConc,GasA,Y,Detchd,NaN,WD,NaN
877,20,RL,Pave,NaN,Lvl,Corner,NAmes,Norm,Norm,1Fam,...,NaN,NaN,None,CBlock,GasA,Y,Attchd,NaN,WD,NaN

In [11]:
# check for nulls 
nominal_train.isnull().sum()

MS SubClass          0
MS Zoning            0
Street               0
Alley             1911
Land Contour         0
Lot Config           0
Neighborhood         0
Condition 1          0
Condition 2          0
Bldg Type            0
House Style          0
Roof Style           0
Roof Matl            0
Exterior 1        2051
Exterior 2        2051
Mas Vnr Type        22
Foundation           0
Heating              0
Central Air          0
Garage Type        113
Misc Feature      1986
Sale Type            0
Sale Condition    2051
dtype: int64

In [12]:
nominal_test.isnull().sum()

MS SubClass         0
MS Zoning           0
Street              0
Alley             820
Land Contour        0
Lot Config          0
Neighborhood        0
Condition 1         0
Condition 2         0
Bldg Type           0
House Style         0
Roof Style          0
Roof Matl           0
Exterior 1        878
Exterior 2        878
Mas Vnr Type        1
Foundation          0
Heating             0
Central Air         0
Garage Type        44
Misc Feature      837
Sale Type           0
Sale Condition    878
dtype: int64

In [13]:
# replace null values with appropriate string
nominal_train['Alley'].fillna('No Alley', inplace=True)
nominal_train['Mas Vnr Type'].fillna('None', inplace=True)
nominal_train['Garage Type'].fillna('No Garage', inplace=True)

nominal_test['Alley'].fillna('No Alley', inplace=True)
nominal_test['Mas Vnr Type'].fillna('None', inplace=True)
nominal_test['Garage Type'].fillna('No Garage', inplace=True)

In [14]:
# drop these columns because they have a bunch of null values 
nominal_train.drop(columns=['Exterior 1', 'Exterior 2', 'Sale Condition', 'Misc Feature'], inplace=True)
nominal_test.drop(columns=['Exterior 1', 'Exterior 2', 'Sale Condition', 'Misc Feature'], inplace=True)

In [15]:
nominal_train.isnull().sum()

MS SubClass     0
MS Zoning       0
Street          0
Alley           0
Land Contour    0
Lot Config      0
Neighborhood    0
Condition 1     0
Condition 2     0
Bldg Type       0
House Style     0
Roof Style      0
Roof Matl       0
Mas Vnr Type    0
Foundation      0
Heating         0
Central Air     0
Garage Type     0
Sale Type       0
dtype: int64

In [16]:
nominal_test.isnull().sum()

MS SubClass     0
MS Zoning       0
Street          0
Alley           0
Land Contour    0
Lot Config      0
Neighborhood    0
Condition 1     0
Condition 2     0
Bldg Type       0
House Style     0
Roof Style      0
Roof Matl       0
Mas Vnr Type    0
Foundation      0
Heating         0
Central Air     0
Garage Type     0
Sale Type       0
dtype: int64

In [17]:
# rename columns 
nominal_train.columns = nominal_train.columns.str.lower().str.replace(' ', '_')
nominal_test.columns = nominal_test.columns.str.lower().str.replace(' ', '_')

In [18]:
# add target variable 
nominal_train['sale_price'] = ames_train['SalePrice']

In [19]:
nominal_train.columns

Index(['ms_subclass', 'ms_zoning', 'street', 'alley', 'land_contour',
       'lot_config', 'neighborhood', 'condition_1', 'condition_2', 'bldg_type',
       'house_style', 'roof_style', 'roof_matl', 'mas_vnr_type', 'foundation',
       'heating', 'central_air', 'garage_type', 'sale_type', 'sale_price'],
      dtype='object')

In [20]:
nominal_test.columns

Index(['ms_subclass', 'ms_zoning', 'street', 'alley', 'land_contour',
       'lot_config', 'neighborhood', 'condition_1', 'condition_2', 'bldg_type',
       'house_style', 'roof_style', 'roof_matl', 'mas_vnr_type', 'foundation',
       'heating', 'central_air', 'garage_type', 'sale_type'],
      dtype='object')

In [22]:
nominal_test['ms_subclass'].unique()

array([190,  90,  60,  30,  20, 160, 120,  70,  80,  50,  85,  45,  75,
       180,  40], dtype=int64)

In [23]:
nominal_train['ms_subclass'].unique()

array([ 60,  20,  50, 180, 160,  70, 120, 190,  85,  30,  90,  80,  75,
        45,  40, 150], dtype=int64)

# Which unique values within features affects the mean of the sale price the most?

In [24]:
def get_unique_numbers(some_list): # source https://www.freecodecamp.org/news/python-unique-list-how-to-get-all-the-unique-values-in-a-list-or-array/
    '''This function takes in a list and returns a list of unique values'''
    list_of_unique_numbers = []

    unique_numbers = set(some_list)

    for number in unique_numbers:
        list_of_unique_numbers.append(number)

    return list_of_unique_numbers

In [25]:
def important_str_cols(x, percent):
        '''This function receives a column with nominal values and returns the data that changes
    the mean of the sale price by more than 10%'''
        important_cols = []
        for i in nominal_train[x]:
            if abs(nominal_train['sale_price'].mean() - nominal_train[~nominal_train[x].str.contains(i)].sale_price.mean()) > abs(nominal_train['sale_price'].mean()*percent): 
                important_cols.append(i)
        return(get_unique_numbers(important_cols))

In [26]:
# I ran this cell for each of my nominal columns 
# and I hand wrote down which unique values
# within each column affected the mean sale price 
# by more than 20% 
# For example, the unique value 'WD '
# in the 'sale_type' column affected 
# the mean of the sale price by at least 20%
important_str_cols('sale_type', .30)

[]

# Use OneHotEncoder to turn nominal features in dummy variables

In [27]:
onehot = OneHotEncoder(dtype=np.int, sparse=True)

In [28]:
nominal_train = pd.DataFrame(onehot.fit_transform(nominal_train[['ms_subclass', 'ms_zoning', 'street', 'alley', 'land_contour',
       'lot_config', 'neighborhood', 'condition_1', 'condition_2', 'bldg_type',
       'house_style', 'roof_style', 'roof_matl', 'mas_vnr_type', 'foundation',
       'heating', 'central_air', 'garage_type', 'sale_type',]]).toarray(), 
                        columns=onehot.get_feature_names(['ms_subclass', 'ms_zoning', 'street', 'alley', 'land_contour',
       'lot_config', 'neighborhood', 'condition_1', 'condition_2', 'bldg_type',
       'house_style', 'roof_style', 'roof_matl', 'mas_vnr_type', 'foundation',
       'heating', 'central_air', 'garage_type', 'sale_type']))

In [29]:
nominal_test = pd.DataFrame(onehot.fit_transform(nominal_test[['ms_subclass', 'ms_zoning', 'street', 'alley', 'land_contour',
       'lot_config', 'neighborhood', 'condition_1', 'condition_2', 'bldg_type',
       'house_style', 'roof_style', 'roof_matl', 'mas_vnr_type', 'foundation',
       'heating', 'central_air', 'garage_type', 'sale_type',]]).toarray(), 
                        columns=onehot.get_feature_names(['ms_subclass', 'ms_zoning', 'street', 'alley', 'land_contour',
       'lot_config', 'neighborhood', 'condition_1', 'condition_2', 'bldg_type',
       'house_style', 'roof_style', 'roof_matl', 'mas_vnr_type', 'foundation',
       'heating', 'central_air', 'garage_type', 'sale_type']))

In [30]:
onehot.get_feature_names()

array(['x0_20', 'x0_30', 'x0_40', 'x0_45', 'x0_50', 'x0_60', 'x0_70',
       'x0_75', 'x0_80', 'x0_85', 'x0_90', 'x0_120', 'x0_160', 'x0_180',
       'x0_190', 'x1_C (all)', 'x1_FV', 'x1_I (all)', 'x1_RH', 'x1_RL',
       'x1_RM', 'x2_Grvl', 'x2_Pave', 'x3_Grvl', 'x3_No Alley', 'x3_Pave',
       'x4_Bnk', 'x4_HLS', 'x4_Low', 'x4_Lvl', 'x5_Corner', 'x5_CulDSac',
       'x5_FR2', 'x5_FR3', 'x5_Inside', 'x6_Blmngtn', 'x6_Blueste',
       'x6_BrDale', 'x6_BrkSide', 'x6_ClearCr', 'x6_CollgCr',
       'x6_Crawfor', 'x6_Edwards', 'x6_Gilbert', 'x6_Greens', 'x6_IDOTRR',
       'x6_MeadowV', 'x6_Mitchel', 'x6_NAmes', 'x6_NPkVill', 'x6_NWAmes',
       'x6_NoRidge', 'x6_NridgHt', 'x6_OldTown', 'x6_SWISU', 'x6_Sawyer',
       'x6_SawyerW', 'x6_Somerst', 'x6_StoneBr', 'x6_Timber',
       'x6_Veenker', 'x7_Artery', 'x7_Feedr', 'x7_Norm', 'x7_PosA',
       'x7_PosN', 'x7_RRAe', 'x7_RRAn', 'x7_RRNe', 'x7_RRNn', 'x8_Feedr',
       'x8_Norm', 'x8_PosA', 'x9_1Fam', 'x9_2fmCon', 'x9_Duplex',
       'x9_Twnhs', 'x9_TwnhsE', 'x10_1.5Fin', 'x10_1.5Unf', 'x10_1Story',
       'x10_2.5Fin', 'x10_2.5Unf', 'x10_2Story', 'x10_SFoyer', 'x10_SLvl',
       'x11_Flat', 'x11_Gable', 'x11_Gambrel', 'x11_Hip', 'x11_Mansard',
       'x11_Shed', 'x12_CompShg', 'x12_Metal', 'x12_Roll', 'x12_Tar&Grv',
       'x12_WdShake', 'x12_WdShngl', 'x13_BrkCmn', 'x13_BrkFace',
       'x13_CBlock', 'x13_None', 'x13_Stone', 'x14_BrkTil', 'x14_CBlock',
       'x14_PConc', 'x14_Slab', 'x14_Stone', 'x14_Wood', 'x15_Floor',
       'x15_GasA', 'x15_GasW', 'x15_Grav', 'x16_N', 'x16_Y', 'x17_2Types',
       'x17_Attchd', 'x17_Basment', 'x17_BuiltIn', 'x17_CarPort',
       'x17_Detchd', 'x17_No Garage', 'x18_COD', 'x18_CWD', 'x18_Con',
       'x18_ConLD', 'x18_ConLI', 'x18_ConLw', 'x18_New', 'x18_Oth',
       'x18_VWD', 'x18_WD '], dtype=object)

In [31]:
nominal_train

,ms_subclass_20,ms_subclass_30,ms_subclass_40,ms_subclass_45,ms_subclass_50,ms_subclass_60,ms_subclass_70,ms_subclass_75,ms_subclass_80,ms_subclass_85,...,garage_type_No Garage,sale_type_COD,sale_type_CWD,sale_type_Con,sale_type_ConLD,sale_type_ConLI,sale_type_ConLw,sale_type_New,sale_type_Oth,sale_type_WD
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2047,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2048,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2049,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2050,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [32]:
nominal_test

,ms_subclass_20,ms_subclass_30,ms_subclass_40,ms_subclass_45,ms_subclass_50,ms_subclass_60,ms_subclass_70,ms_subclass_75,ms_subclass_80,ms_subclass_85,...,sale_type_COD,sale_type_CWD,sale_type_Con,sale_type_ConLD,sale_type_ConLI,sale_type_ConLw,sale_type_New,sale_type_Oth,sale_type_VWD,sale_type_WD
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
874,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
875,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
876,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
877,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [33]:
nominal_test.head()

,ms_subclass_20,ms_subclass_30,ms_subclass_40,ms_subclass_45,ms_subclass_50,ms_subclass_60,ms_subclass_70,ms_subclass_75,ms_subclass_80,ms_subclass_85,...,sale_type_COD,sale_type_CWD,sale_type_Con,sale_type_ConLD,sale_type_ConLI,sale_type_ConLw,sale_type_New,sale_type_Oth,sale_type_VWD,sale_type_WD
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [35]:
# curious about correlations
nominal_test.corr()

,ms_subclass_20,ms_subclass_30,ms_subclass_40,ms_subclass_45,ms_subclass_50,ms_subclass_60,ms_subclass_70,ms_subclass_75,ms_subclass_80,ms_subclass_85,...,sale_type_COD,sale_type_CWD,sale_type_Con,sale_type_ConLD,sale_type_ConLI,sale_type_ConLw,sale_type_New,sale_type_Oth,sale_type_VWD,sale_type_WD
ms_subclass_20,1.000000,-0.156738,-0.035212,-0.066064,-0.247503,-0.374224,-0.156738,-0.066064,-0.143322,-0.112511,...,0.037348,-0.035212,-0.024884,-0.074995,-0.035212,-0.043150,0.054896,0.038588,0.045822,-0.032376
ms_subclass_30,-0.156738,1.000000,-0.010163,-0.019067,-0.071435,-0.108009,-0.045238,-0.019067,-0.041366,-0.032473,...,-0.001329,-0.010163,-0.007182,0.089493,0.107245,0.083464,-0.066413,-0.012454,-0.007182,0.005216
ms_subclass_40,-0.035212,-0.010163,1.000000,-0.004284,-0.016048,-0.024265,-0.010163,-0.004284,-0.009293,-0.007295,...,-0.008010,-0.002283,-0.001613,-0.004863,-0.002283,-0.002798,-0.014920,-0.002798,-0.001613,0.019286
ms_subclass_45,-0.066064,-0.019067,-0.004284,1.000000,-0.030109,-0.045525,-0.019067,-0.008037,-0.017435,-0.013687,...,-0.015029,-0.004284,-0.003027,-0.009123,-0.004284,-0.005249,-0.027993,-0.005249,-0.003027,0.036184
ms_subclass_50,-0.247503,-0.071435,-0.016048,-0.030109,1.000000,-0.170555,-0.071435,-0.030109,-0.065320,-0.051278,...,0.036270,0.063110,-0.011341,0.003286,0.063110,0.045003,-0.104872,-0.019666,-0.011341,0.048580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
sale_type_ConLw,-0.043150,0.083464,-0.002798,-0.005249,0.045003,-0.029735,-0.012454,-0.005249,-0.011388,-0.008940,...,-0.009816,-0.002798,-0.001977,-0.005959,-0.002798,1.000000,-0.018283,-0.003429,-0.001977,-0.145070
sale_type_New,0.054896,-0.066413,-0.014920,-0.027993,-0.104872,0.128999,-0.066413,-0.027993,-0.060728,-0.047673,...,-0.052345,-0.014920,-0.010544,-0.031777,-0.014920,-0.018283,1.000000,-0.018283,-0.010544,-0.773612
sale_type_Oth,0.038588,-0.012454,-0.002798,-0.005249,-0.019666,-0.029735,-0.012454,-0.005249,-0.011388,-0.008940,...,-0.009816,-0.002798,-0.001977,-0.005959,-0.002798,-0.003429,-0.018283,1.000000,-0.001977,-0.145070
sale_type_VWD,0.045822,-0.007182,-0.001613,-0.003027,-0.011341,-0.017148,-0.007182,-0.003027,-0.006567,-0.005156,...,-0.005661,-0.001613,-0.001140,-0.003436,-0.001613,-0.001977,-0.010544,-0.001977,1.000000,-0.083661
sale_type_WD,-0.032376,0.005216,0.019286,0.036184,0.048580,-0.047011,0.053595,0.036184,0.078500,0.039630,...,-0.415334,-0.118382,-0.083661,-0.252135,-0.118382,-0.145070,-0.773612,-0.145070,-0.083661,1.000000

In [36]:
# read in master df that I will use to model 
train_df = pd.read_csv('./datasets/train_df.csv')
test_df = pd.read_csv('./datasets/test_df.csv')

In [37]:
train_df.head()

,Lot Shape,Utilities,Land Slope,Overall Qual,Overall Cond,Exter Cond,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,...,Electrical,Kitchen Qual,Functional,Fireplace Qu,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Fence,saleprice
0,1,3,3,6,8,3,4,4,2,7,...,5,3,8,1,3,4,4,3,1,130500
1,1,3,3,7,5,3,5,4,2,7,...,5,3,8,4,3,4,4,3,1,220000
2,4,3,3,5,7,4,4,4,2,7,...,5,3,8,1,2,4,4,3,1,109000
3,4,3,3,5,5,3,5,4,2,2,...,5,2,8,1,4,4,4,3,1,174000
4,1,3,3,6,8,3,3,5,2,2,...,5,2,8,1,2,4,4,1,1,138500

In [38]:
# combine nominals df to master df that i will use to model 
train_df = pd.concat([train_df, nominal_train], axis=1)
test_df = pd.concat([test_df, nominal_test], axis=1)

In [39]:
# save ames_df to datasets folder 
train_df.to_csv('./datasets/train_df.csv',index=False)
test_df.to_csv('./datasets/test_df.csv',index=False)

In [41]:
train_df

,Lot Shape,Utilities,Land Slope,Overall Qual,Overall Cond,Exter Cond,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,...,garage_type_No Garage,sale_type_COD,sale_type_CWD,sale_type_Con,sale_type_ConLD,sale_type_ConLI,sale_type_ConLw,sale_type_New,sale_type_Oth,sale_type_WD
0,1,3,3,6,8,3,4,4,2,7,...,0,0,0,0,0,0,0,0,0,1
1,1,3,3,7,5,3,5,4,2,7,...,0,0,0,0,0,0,0,0,0,1
2,4,3,3,5,7,4,4,4,2,7,...,0,0,0,0,0,0,0,0,0,1
3,4,3,3,5,5,3,5,4,2,2,...,0,0,0,0,0,0,0,0,0,1
4,1,3,3,6,8,3,3,5,2,2,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,1,3,3,8,5,3,5,4,4,7,...,0,0,0,0,0,0,0,0,0,1
2047,1,3,3,4,5,3,4,4,2,5,...,0,0,0,0,0,0,0,0,0,1
2048,4,3,3,6,6,3,4,4,2,2,...,0,0,0,0,0,0,0,0,0,1
2049,4,3,3,4,5,3,4,4,2,4,...,0,0,0,0,0,0,0,0,0,1
2050,4,3,3,7,5,3,4,4,2,2,...,0,0,0,0,0,0,0,0,0,1

In [42]:
test_df

,Lot Shape,Utilities,Land Slope,Overall Qual,Overall Cond,Exter Cond,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,...,sale_type_COD,sale_type_CWD,sale_type_Con,sale_type_ConLD,sale_type_ConLI,sale_type_ConLw,sale_type_New,sale_type_Oth,sale_type_VWD,sale_type_WD
0,4,3,3,6,8,2,3,4,2,2,...,0,0,0,0,0,0,0,0,0,1
1,1,3,3,5,4,3,5,4,2,2,...,0,0,0,0,0,0,0,0,0,1
2,1,3,3,7,5,3,5,5,4,7,...,0,0,0,0,0,0,1,0,0,0
3,4,3,3,5,6,3,4,4,2,2,...,0,0,0,0,0,0,0,0,0,1
4,1,3,3,6,5,3,5,4,2,5,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,4,3,3,6,6,3,4,4,2,6,...,0,0,0,0,0,0,0,0,0,1
874,4,3,3,6,7,4,4,4,2,5,...,0,0,0,0,0,0,0,0,0,1
875,4,3,3,5,5,3,4,4,2,5,...,0,0,0,0,0,0,0,0,0,1
876,4,3,3,4,6,3,4,4,2,6,...,0,0,0,0,0,0,0,0,0,1
877,4,3,3,5,5,4,4,4,2,5,...,0,0,0,0,0,0,0,0,0,1